.nav{
  background-color: black !important;
}
.sub:hover{
  background-color: black;
  color: white;
  font-weight: bold;
}
.back{
  background-image: url('components/24382356_v602-nunoon-25-rippednotes.jpg');
  height: 100wh;
    width: 100%;
  background-size: cover;
  /* background-position: center; */
}
.desc{
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 5px 5px rgb(163, 168, 171);
}
h1 {
  color: rgb(255, 70, 3);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}